.dashboardPage {
  margin: var(--mainpageminWidth);
}

.dpTop {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dpHeading {
  color: var(--text-color);
  font-size: var(--header-font-size);
  font-weight: bold;
}

.dpHeading span {
  color: var(--information-color);
}

.dpSubHeading {
  color: var(--neutral-color);
}

.dpMid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  background-color: var(--background-color);
  border: var(--border-bottom);
  padding: 20px;

  margin-bottom: 20px;
}

.dpHeader {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-weight: bold;
  margin-bottom: 10px;
}

.dpCardSection {
  display: flex;
  gap: 20px;
}

.csLeft {
  display: flex;
  flex: 2;
}

.csRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 3;
}

.dpBot {
  display: flex;
  gap: 20px;
}

.dpBotLeft {
  flex: 2;
  background-color: var(--background-color);
  border: var(--border-bottom);
  border-radius: 4px;
  padding: 20px;
}

.dpHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dpQuick {
  color: var(--information-color);
  font-size: var(--table-font-size);
  cursor: pointer;
}

.dpBotRight {
  flex: 1;
  background-color: var(--background-color);
  border: var(--border-bottom);
  border-radius: 4px;
  padding: 20px;
}

@media (max-width: 1000px) {

  .dashboardPage {
    margin: var(--mainpageminWidth);
  }

  .dpCardSection {
    flex-direction: column;
  }

  .dpBot {
    flex-direction: column;
  }
}


