.tdALHeader {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tdActivityLogTitle {
  margin-bottom: 5px;
  color: var(--text-color);
  font-size: var(--table-head-size);
  font-weight: bold;
}

.tdCSButton {
  font-size: var(--table-head-size);
  color: var(--text-color);
  cursor: pointer;
}

.tdALWrapper {
  position: relative;
  border: var(--border-bottom);
  border-radius: 4px;
  padding: 20px;
}

.tdALProgressBar {
  position: absolute;
  top: 0;
  left: 27px;
  width: 2px;
  height: 100%;
  background-color: #ddd;
  z-index: 1;
}

.tdALRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.tdALProgressStep {
  margin-right: 40px;
}

.tdALProgressIcon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--information-color);
  border: 3px solid #ccc;
  position: relative;
}

.activityTitle,
.activityText,
.activityFooter {
  font-size: var(--table-desc-size);
  color: var(--text-color);
}

.activityTitle {
  font-weight: bold;
}
