# Ignore Python virtual environments and env files
venv/
env/
comment_service/
history_log_service/
task_service/
user_service/
workflow_service/
.env

# Ignore test directory
test/

# Ignore all db.sqlite3 files anywhere
**/db.sqlite3

# Ignore all __pycache__ directories anywhere
__pycache__/


