@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg3-color);
}

:root {
  /* Color */
  --primary-color: #780000;
  --secondary-color: #063a84;
  --background-color: #fcfcfc;
  --bg3-color: #f9f9f9;
  --bg-color: #FAFBFC;
  --bg1-color: #ffffff;
  --bg2-color: #fefefe;
  --text-color: #242424;
  --label-color: #666;
  --accent-color: #ffb800;
  --success-color: #49c564;
  --error-color: #ae131b;
  --information-color: #063a84;
  --warning-color: #ffeb38;
  --neutral-color: #424242;
  --alert-color: #ff9800;
  --button-color: #3498db;
  --border-color: #e0e0e0;
  --admin-color: #3498db;

  /* Font sizes */
  --default-font-size: 0.875rem; /* 14 */
  --table-head-size: 0.8125rem; /* 13 */
  --table-font-size: 0.75rem; /* 12 */
  --table-desc-size: 0.65rem;
  --title-font-size: 1rem; /* 16 */
  --h2-font-size: 1.25rem;
  --h1-font-size: 1.5rem; /* 24 */
  --header-font-size: 1.8rem; 

  /* pages */
  --mainpagewidth: 0 12vw;
  --mainpageminWidth: 0 10vw;

  /* Design */
  --border-bottom: 1px solid var(--border-color);
  --border-black: 1px solid #000000;
  --border-dark-gray: 1px solid #333333;
  --border-medium-gray: 1px solid #666666;
  --border-light-gray: 1px solid #999999;
  --border-very-light-gray: 1px solid #cccccc;

  /* admin stuff */
  --borderColor: #424242;
  --adminColor: #1e4379;
  --tableShade: #c2c2c2;
}
